%h1
  Sign in

= form_for :session, :url => sessions_path do |form|
  %div{:class => 'field'}
    = form.label :email
    %br
    = form.text_field :email
  %div{:class => 'field'}
    = form.label :password
    %br
    = form.password_field :password
  %div{:class => 'actions'}
    = form.submit "Sign in"

%p
  New user?
  = link_to "Sign up now", signin_path

