body
  background: #cff

.container
  width: 762px

header
  padding-top: 20px
  img
    padding: 1em
    background: #fff

section
  margin-top: 1em
  font-size: 120%
  padding: 20px
  background: #fff
  h1
    font-size: 200%

/* Links */
a
  color: #09c
  text-decoration: none
a:hover
  color: #069
  text-decoration: underline
a:visited
  color: 069

/* Navigation */
nav
  float: right
  background-color: white
  padding: 0 0.7em
  white-space: nowrap
  ul
    li
      list-style-type: none
      display: inline-block
      a
        padding: 0 5px
      a:visited
        color: #09c
      a:hover
        color: #069
        text-decoration: underline

/* Sign up button
a.signup_button
  margin-left: auto
  margin-right: auto
  display: block
  text-align: center
  width: 190px
  color: #fff
  background: #006400
  font-size: 150%
  font-weight: bold
  padding: 20px

/* Round corners */
.round
  -moz-border-radius: 10px
  -webkit-border-radius: 10px
  border-radius: 10px


/* Footer */
footer
  text-align: center
  margin-top: 10px
  width: 710px
  margin-left: auto
  margin-right: auto
  nav
    float: none

/* Table */
.profile
  width: 100%
  margin-bottom: 0

  img.profile
    border: 1px solid #999

.main
  width: 70%
  padding: 1em

.sidebar
  width: 30%
  padding: 1em
  vertical-align: top
  background: #ffc

/* Signup */
div.field,
div.actions
  margin-bottom: 10px

/* error messages */
.field_with_errors
  margin-top: 10px
  padding: 2px
  background-color: red
  display: table
  label
    color: #fff

#error_explanation
  width: 400
  border: 2px solid red
  padding: 7px
  padding-bottom: 12px
  margin-bottom: 20px
  background-color: #f0f0f0
  h2
    text-align: left
    font-weight: bold
    padding: 5px 5px 5px 5px
    font-size: 12px
    margin: -7px
    background-color: #c00
    color: #fff
  p
    color: #333
    font-size: 18px
    margin-bottom: 0
    padding: 5px
  ul li
    font-size: 13px
    list-style: square

ul.users
  margin-top: 2em
  li
    list-style: none

/* Layout for the microposts */
h1.micropost
  margin-bottom: 0.3em

table.microposts
  font-size: 15px
  margin-top: 1em
  tr
    height: 70px
    td.gravatar
      border-top: 1px solid #ccc
      vertical-align: top
      padding-top: 10px
    td.micropost
      border-top: 1px solid #ccc
      vertical-align: top
      padding-top: 10px
      span.timestamp
        display: block
        font-size: 85%
        color: #666

div.user_info
  img
    padding-right: 0.1em
  a
    text-decoration: none
  span.user_name
    position: none
  span.microposts
    font-size: 80%

form.new_micropost
  margin-bottom: 2em
  textarea
    height: 4em
    margin-bottom: 0


