/* line 1, sass/custom.sass */
body {
  background: #ccffff;
}

/* line 4, sass/custom.sass */
.container {
  width: 762px;
}

/* line 7, sass/custom.sass */
header {
  padding-top: 20px;
}
/* line 9, sass/custom.sass */
header img {
  padding: 1em;
  background: white;
}

/* line 13, sass/custom.sass */
section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: white;
}
/* line 18, sass/custom.sass */
section h1 {
  font-size: 200%;
}

/* Links */
/* line 22, sass/custom.sass */
a {
  color: #0099cc;
  text-decoration: none;
}

/* line 25, sass/custom.sass */
a:hover {
  color: #006699;
  text-decoration: underline;
}

/* line 28, sass/custom.sass */
a:visited {
  color: 69;
}

/* Navigation */
/* line 32, sass/custom.sass */
nav {
  float: right;
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}
/* line 38, sass/custom.sass */
nav ul li {
  list-style-type: none;
  display: inline-block;
}
/* line 41, sass/custom.sass */
nav ul li a {
  padding: 0 5px;
}
/* line 43, sass/custom.sass */
nav ul li a:visited {
  color: #0099cc;
}
/* line 45, sass/custom.sass */
nav ul li a:hover {
  color: #006699;
  text-decoration: underline;
}

/* Sign up button */
/* line 50, sass/custom.sass */
a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: white;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

/* Round corners */
/* line 63, sass/custom.sass */
.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Footer */
/* line 70, sass/custom.sass */
footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}
/* line 76, sass/custom.sass */
footer nav {
  float: none;
}

/* Table */
/* line 80, sass/custom.sass */
.profile {
  width: 100%;
  margin-bottom: 0;
}
/* line 84, sass/custom.sass */
.profile img.profile {
  border: 1px solid #999999;
}

/* line 87, sass/custom.sass */
.main {
  width: 70%;
  padding: 1em;
}

/* line 91, sass/custom.sass */
.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffffcc;
}

/* Signup */
/* line 98, sass/custom.sass */
div.field,
div.actions {
  margin-bottom: 10px;
}

/* error messages */
/* line 103, sass/custom.sass */
.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}
/* line 108, sass/custom.sass */
.field_with_errors label {
  color: white;
}

/* line 111, sass/custom.sass */
#error_explanation {
  width: 400;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 118, sass/custom.sass */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 5px;
  font-size: 12px;
  margin: -7px;
  background-color: #cc0000;
  color: white;
}
/* line 126, sass/custom.sass */
#error_explanation p {
  color: #333333;
  font-size: 18px;
  margin-bottom: 0;
  padding: 5px;
}
/* line 131, sass/custom.sass */
#error_explanation ul li {
  font-size: 13px;
  list-style: square;
}

/* line 135, sass/custom.sass */
ul.users {
  margin-top: 2em;
}
/* line 137, sass/custom.sass */
ul.users li {
  list-style: none;
}

/* Layout for the microposts */
/* line 141, sass/custom.sass */
h1.micropost {
  margin-bottom: 0.3em;
}

/* line 144, sass/custom.sass */
table.microposts {
  font-size: 15px;
  margin-top: 1em;
}
/* line 147, sass/custom.sass */
table.microposts tr {
  height: 70px;
}
/* line 149, sass/custom.sass */
table.microposts tr td.gravatar {
  border-top: 1px solid #cccccc;
  vertical-align: top;
  padding-top: 10px;
}
/* line 153, sass/custom.sass */
table.microposts tr td.micropost {
  border-top: 1px solid #cccccc;
  vertical-align: top;
  padding-top: 10px;
}
/* line 157, sass/custom.sass */
table.microposts tr td.micropost span.timestamp {
  display: block;
  font-size: 85%;
  color: #666666;
}

/* line 163, sass/custom.sass */
div.user_info img {
  padding-right: 0.1em;
}
/* line 165, sass/custom.sass */
div.user_info a {
  text-decoration: none;
}
/* line 167, sass/custom.sass */
div.user_info span.user_name {
  position: none;
}
/* line 169, sass/custom.sass */
div.user_info span.microposts {
  font-size: 80%;
}

/* line 172, sass/custom.sass */
form.new_micropost {
  margin-bottom: 2em;
}
/* line 174, sass/custom.sass */
form.new_micropost textarea {
  height: 4em;
  margin-bottom: 0;
}
