= render 'shared/error_messages', :object => form.object
%div{:class => 'field'}
  = form.label :name
%br
= form.text_field :name
%div{:class => 'field'}
  = form.label :email
%br
= form.text_field :email
%div{:class => 'field'}
  = form.label :password
%br
= form.password_field :password
%div{:class => 'field'}
  = form.label :password_confirmation
%br
= form.password_field :password_confirmation
