%table{:class => 'profile', :summary => 'Profile information'}
  %tr
    %td{:class => 'main'}
      %h1
        = gravatar_for @user
        = @user.name
      = render 'follow_form' if signed_in?
      - unless @user.microposts.empty?
        %table{:class => 'microposts', :summary => 'Users microposts'}
          = render @microposts
        = will_paginate @microposts
    %td{:class => 'sidebar round'}
      %strong
        Name
        = @user.name
      %strong
        URL
        = link_to user_path(@user), @user
      %strong
        Microposts
        = @user.microposts.count
      = render 'shared/stats'

