%table{:summary => 'Information about following/followers'}
  %tr
    %td{:class => 'main'}
      %h1
        = @title
      - unless @users.empty?
        %ul{:class => 'users'}
          = render @users
        = will_paginate @users
    %td{:class => 'sidebar round'}
      %strong
        Name
      = @user.name
      %strong
        URL
      = link_to user_path(@user), @user
      %strong
        Microposts
      = @user.microposts.count
      = render 'shared/stats'
      - unless @users.empty?
        - @users.each do |user|
          = link_to gravatar_for(user, :size => 30), user

