- if object.errors.any?
  %div{:id => 'error_explanation'}
    %h2
      = pluralize(object.errors.count, 'error')
      - model_name = object.class.to_s.underscore.humanize.downcase
      prohibited this
      = model_name
      user from being saved:
    %p
      There where problems with the following field
    %ul
      - object.errors.full_messages.each do |message|
        %li
          = message
