= form_for @micropost do |form|
  = render 'shared/error_messages', :object => form.object
  %div{:class => 'field'}
    = form.text_area :content
  %div{:class => 'actions'}
    = form.submit "Submit"
