- @user ||= current_user
%div{:class => 'stats'}
  %table{:summary => 'User stats'}
    %tr
      %td
        %a{:href => following_user_path(@user)}
          %span{:id => 'following', :class => 'stats'}
            - number = @user.following.count
            = "#{number} following"
      %td
        %a{:href => followers_user_path(@user)}
          %span{:id => 'followers', :class => 'stats'}
            = pluralize(@user.followers.count, "follower")
