- if signed_in?
  %table{:class => 'front', :summary => 'For signed-in users'}
    %tr
      %td{:class => 'main'}
        %h1{:class => 'micropost'}
          What's up?
          = render 'shared/micropost_form'
          = render 'shared/feed'
      %td{:class => 'sidebar'}
        = render 'shared/user_info'
        = render 'shared/stats'
- else
  %h1
    Sample App
  = link_to "Sign up now!", signup_path, :class => "signup_button round"
