%header
  = link_to logo, root_path
  %nav{:class => "round"}
    %ul
      %li
        = link_to 'Home', root_path
      = users_link
      = profile_link
      = settings_path
      %li
        = link_to 'Help', help_path
      = signin_signout_link
